{% extends 'base.html' %}

{% block title %}Noticias{% endblock %}

{% block content %}
    <h2>Últimas Noticias</h2>
    <section>
        <img src="static/img/molino.jpg" alt="Noticia 1">
        <h3>Una resina basada en biomasa facilitará el reciclaje de palas eólicas
            Investigadores estadounidenses desarrollan una resina basada en azúcares que ofrece una resistencia similar a la resina convencional y se reciclará con mayor facilidad.</h3>
        <p>El proceso del reciclaje de palas eólicas
            La buena noticia es que el 90 % de los aerogeneradores, incluyendo la torre y la góndola, es fácilmente reciclable al final de su vida útil. Así, una vez desmontado la estructura pueden aprovecharse sus componentes metálicos. El principal reto viene dado por el reciclaje de las palas eólicas. A fin de poder mantenerse operativas durante décadas están fabricadas con materiales compuestos, incluyendo resinas y fibra de vidrio.
            
            En la actualidad, en una planta de reciclaje se utilizan técnicas mecánicas, térmicas o químicas para extraer las distintas materias primas y darles una nueva vida. O lo que es lo mismo, pueden molerse, someterse a calor o utilizar productos químicos en el proceso.
            
            Otra opción por la que está apostando la industria eólica consiste en reutilizar las palas y convertirlas en mobiliario urbano como marquesinas o incluso construir estructuras sencillas como puentes..</p>
    </section>
    <section>
        <img src="static/img/carbono.jpg" alt="Noticia 2">
        <h3>Secuestro de carbono: Islandia acogerá la mayor planta de su clase en el mundo
            En paralelo al abandono de los combustibles fósiles, surgen iniciativas como esta planta dedicada al secuestro de carbono con energía renovable.</h3>
        <p>Islandia es un lugar con unas estadísticas de lo más llamativas. Ya sea por el clima o el carácter nacional, se trata del país con mayor número de escritores per cápita del mundo: uno de cada diez habitantes ha publicado un libro. También es, probablemente, el país del mundo que mayor proporción de energía renovable consume: casi el 100 % de su energía es de origen geotermal o hidráulico. Recientemente, ha batido otro récord: alojar la mayor planta dedicada al secuestro de carbono en todo el planeta. Sigue leyendo para saber más sobre el secuestro de carbono y las peculiaridades de la nueva planta islandesa.

            Qué es el secuestro de carbono y cómo se consigue
            Antes de adentrarnos en las gélidas latitudes árticas, aquí va una breve explicación acerca de esta técnica para reducir la presencia de dióxido de carbono atmosférico. El secuestro de carbono es una técnica que ayuda a reducir la temperatura global y mitigar el cambio climático, que consiste en capturar y almacenar dióxido de carbono (CO₂) de la atmósfera para reducir su concentración y mitigar los efectos del calentamiento global. Esta estrategia se ha vuelto crucial en los esfuerzos globales para cumplir con los objetivos de reducción de emisiones de CO2 establecidos en el Acuerdo de París. ¿Y cuáles son las estrategias más habituales de captura y almacenamiento a largo plazo del dióxido de carbono?</p>
    </section>
{% endblock %}