{% extends 'base.html' %}

{% block title %}Servicios{% endblock %}

{% block content %}
    <h2>Nuestros Servicios</h2>
    <section>
        <img src="static/img/pcman.jpg" alt="Servicio 1">
        <h3>Mantenimiento de Computadoras</h3>
        <p>En CompuSpace, ofrecemos un servicio integral de mantenimiento de computadoras, diseñado para garantizar el funcionamiento óptimo de los equipos de nuestros clientes. Nuestro servicio incluye revisiones preventivas, diagnósticos completos, limpieza interna y externa de los componentes, actualización de software, y la identificación y corrección de posibles fallos.

            Nos especializamos en mejorar el rendimiento de los equipos, previniendo problemas mayores que puedan afectar la productividad. Además, contamos con técnicos especializados que brindan atención personalizada, asegurando que cada mantenimiento se adapte a las necesidades específicas de cada cliente.
            
            Con el mantenimiento de CompuSpace, tus equipos estarán siempre en las mejores condiciones para enfrentar cualquier desafío tecnológico.</p>
    </section>
{% endblock %}